
.pageContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.scatterPlotSection {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.lineChartSection {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
}

.searchSection {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}

.selectedSection {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
}

.selectionBox {
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    padding: 0.5rem;
    margin: 0.5rem 0;
}

.selectedOrg {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.removeButton:hover {
    cursor: pointer;
}

